@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f9f9f9;

    padding: 2em;
}

.a4 {
    height: 420mm;
    width: 297mm;

    padding: 15mm 25mm;

    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;

    overflow: auto;

    background-color: white;

    -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

#content {
    line-height: 1.428;

    hyphens: auto;
}
#content > div:not(:last-child) {
    margin-bottom: calc(0.5em * 1.428);
}

#helper > p:not(:last-child) {
    margin-bottom: calc(0.5em * 1.428);
}

@page {
    size: 297mm 420mm;
    margin: 0;
}

@media print {
    body {
        padding: 0;
        background-color: #ffffff;
    }

    .a4 {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        margin-bottom: 0;
    }

    #content {
        border: none !important;
    }

    .no-print {
        display: none !important;
    }
}
